#fonts::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

#fonts::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

textarea::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #6a6c6a;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6a6c6a;
  border-radius: 20px;
}

@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}


#textarea{
  font-family: 'Source Code Pro', monospace;
}