#dotgrids {
    padding: 5rem 0;
    background-color: transparent;
    background-image: radial-gradient(#b1b0b0 4%, transparent 5%);
    background-size: 60px 60px;
    background-position: 0 0, 10px 10px;
    background-repeat: repeat;
}